{% set disqus = config.extra.disqus %}
{% if page and page.meta and page.meta.disqus is string %}
  {% set disqus = page.meta.disqus %}
{% endif %}

<!-- Disqus integration -->
{% if not page.is_homepage and disqus %}
  <h2 id="__comments">
    <span class="twemoji">
      {% include ".icons/octicons/comment-discussion-24.svg" %}
    </span>
    {{ lang.t("meta.comments") }}
  </h2>
  <div id="disqus_thread"></div>
  <script src="https://giscus.app/client.js"
        data-repo="Andre601/blog"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzMjMxMjM0MjQ="
        data-category="Comments"
        data-category-id="DIC_kwDOE0J44M4B_2e-"
        data-mapping="title"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="https://www.andre601.ch/blog/assets/css/style/giscus.css"
        data-lang="en"
        crossorigin="anonymous"
        async>
  </script>
{% endif %}
