<article class="md-post md-post--excerpt">
    <header class="md-post__header">
  
      <!-- Post authors -->
      {% if post.authors %}
        <nav class="md-post__authors md-typeset">
          {% for author in post.authors %}
            <span class="md-author">
              <img src="{{ author.avatar }}" alt="{{ author.name }}" />
            </span>
          {% endfor %}
        </nav>
      {% endif %}
  
      <!-- Post metadata -->
      <div class="md-post__meta md-meta">
        <ul class="md-meta__list">
  
          <!-- Post date -->
          <li class="md-meta__item">
            <span class="twemoji">
              {% include ".icons/octicons/calendar-24.svg" %}
            </span>
            <time datetime="{{ post.meta.date }}">
              {{- post.meta.date_format -}}
            </time>
            {#- Collapse whitespace -#}
          </li>
  
          <!-- Post categories -->
          {% if post.categories %}
            <li class="md-meta__item">
              {{ lang.t("blog.categories.in") }}
              {% for category in post.categories %}
                <a
                  href="{{ category.url | url }}"
                  class="md-meta__link"
                >
                  {{- category.title -}}
                </a>
                {%- if loop.revindex > 1 %}, {% endif -%}
              {% endfor -%}
            </li>
          {% endif %}
  
          <!-- Post readtime -->
          {% if post.meta.readtime %}
            {% set time = post.meta.readtime %}
            <li class="md-meta__item">
              <span class="twemoji">
                {% include ".icons/octicons/stopwatch-24.svg" %}
              </span>
              {% if time == 1 %}
                {{ lang.t("readtime.one") }}
              {% else %}
                {{ lang.t("readtime.other") | replace("#", time) }}
              {% endif %}
            </li>
          {% endif %}
        </ul>
  
        <!-- Draft marker -->
        {% if post.meta.draft %}
          <span class="md-draft">
            {{ lang.t("blog.draft") }}
          </span>
        {% endif %}
      </div>
    </header>
  
    <!-- Post content -->
    <div class="md-post__content md-typeset">
      <h2>
        <a class="toclink" href="{{ post.url | url }}">
          {{ post.title }}
        </a>
      </h2>
      
      {% if post.meta.excerpt %}
        <p>
          {{ post.meta.excerpt }}
        </p>
      {% else %}
        {{ post.content }}
      {% endif %}
  
      <!-- Continue reading link -->
      <nav class="md-post__action">
        <a href="{{ post.url | url }}" class="md-button">
          <span class="twemoji">
            {% include ".icons/octicons/book-24.svg" %}
          </span>
          {{ lang.t("blog.continue") }}
        </a>
      </nav>
    </div>
  </article>