{% extends "main.html" %}

{% block content %}
  {{ super() }}
  
  <h2 id="__comments">
    <span class="twemoji">
      {% include ".icons/octicons/comment-discussion-24.svg" %}
    </span>
    {{ lang.t("meta.comments") }}
  </h2>
  <small>Powered by <a href="https://giscus.app?utm_source=andre601.ch" target="_blank" rel="nofollow noopener noreferrer">Giscus</a></small>
  <div class="giscus"></div>
  
  <script
    src="https://giscus.app/client.js"
    data-repo="Andre601/blog"
    data-repo-id="MDEwOlJlcG9zaXRvcnkzMjMxMjM0MjQ="
    data-category="Comments"
    data-category-id="DIC_kwDOE0J44M4B_2e-"
    data-mapping="title"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-theme="https://www.andre601.ch/blog/assets/css/style/giscus.css"
    crossorigin="anonymous"
    async
  >
  </script>
{% endblock %}
